@charset "UTF-8";
html, body, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; }

@font-face {
  font-family: 'TradeGothicBoldCondensed';
  src: url("fonts/trade-gothic-bold-condensed-20.eot");
  src: local("☺"), url("fonts/trade-gothic-bold-condensed-20.woff") format("woff"), url("fonts/trade-gothic-bold-condensed-20.ttf") format("truetype"), url("fonts/trade-gothic-bold-condensed-20.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.envoy-font-chilipepper {
  color: #e34e33; }

.envoy-font-blue {
  color: #67d9da; }

.envoy-font-lightgrey {
  color: #9f9f9f; }

.envoy-font-mediumgrey {
  color: #282828; }

.envoy-background-chilipepper {
  background-color: #e34e33;
  color: #fff; }

.grid-thirds {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px); }
  .grid-thirds::after {
    clear: both;
    content: "";
    display: block; }

.grid-thirds__single-column {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media (min-width: 1000px) {
    .grid-thirds__single-column {
      width: calc(33.33333% - 26.66667px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 939px) {
    .grid-thirds__single-column {
      margin-bottom: 40px; } }

.header {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100; }
  .header .header__inner {
    margin: 0 auto;
    padding: 20px 0 15px 0;
    position: relative;
    text-align: left;
    width: 940px; }
    @media (max-width: 939px) {
      .header .header__inner {
        margin: 0 20px;
        width: auto; } }
    .header .header__inner .header__logo svg {
      display: inline-block;
      fill: #9f9f9f; }
      .header .header__inner .header__logo svg .header__logo-letter {
        color: #9f9f9f; }
    .header .header__inner .header__nav {
      display: inline-block; }
      @media (max-width: 939px) {
        .header .header__inner .header__nav {
          display: none; } }
      .header .header__inner .header__nav-list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 28px; }
        .header .header__inner .header__nav-list-item {
          display: inline-block; }
          .header .header__inner .header__nav-list-item:not(:first-of-type) {
            margin-left: 22px; }
          .header .header__inner .header__nav-list-item a {
            color: #fff;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none; }
          .header .header__inner .header__nav-list-item--hover a, .header .header__inner .header__nav-list-item:hover a {
            color: #e34e33; }
          .header .header__inner .header__nav-list-item--selected a {
            color: #9f9f9f; }
    .header .header__inner .header__social {
      bottom: 0;
      display: inline-block;
      position: absolute;
      right: 0; }
      @media (max-width: 939px) {
        .header .header__inner .header__social {
          display: none; } }
      .header .header__inner .header__social-twitter, .header .header__inner .header__social-more {
        display: inline-block;
        text-decoration: none; }
      .header .header__inner .header__social-twitter {
        background: #464646;
        color: #67d9da;
        padding: 7px 13px 9px 13px; }
        .header .header__inner .header__social-twitter i {
          font-size: 30px;
          vertical-align: sub; }
        .header .header__inner .header__social-twitter:hover {
          color: #fff; }
      .header .header__inner .header__social-more {
        background: #e34e33;
        color: #fff;
        margin-left: -5px;
        padding: 13px; }
        .header .header__inner .header__social-more:hover {
          background: #fff;
          color: #e34e33; }

.content {
  background-color: #1d1d1d;
  color: #fff;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center; }
  .content a {
    color: #e34e33;
    text-decoration: none; }
    .content a:hover {
      color: #67d9da; }
  .content__inner {
    margin: 0 auto;
    text-align: left;
    width: 940px; }
    @media (max-width: 939px) {
      .content__inner {
        margin: 0 20px;
        width: auto; } }
    .content__inner .content__headline {
      border-bottom: 5px solid #282828;
      color: #fff;
      padding-bottom: 40px; }
    .content__inner .headline-text {
      font-size: 37px;
      line-height: 33px; }
    .content__inner a.headline-text {
      color: #fff;
      font-size: 35px; }
      .content__inner a.headline-text:hover {
        color: #67d9da; }
    .content__inner .small-text {
      font-size: 13px; }
    .content__inner .work-headline {
      margin-bottom: 10px; }
    .content__inner .work img {
      width: 100%; }
    .content__inner .date-padding {
      padding: 10px 0 6px 0; }
      @media (max-width: 939px) {
        .content__inner .date-padding {
          margin: 6px 0 8px 0;
          padding: 0; } }
    .content__inner .content__subheadline {
      color: #9f9f9f;
      border-bottom: 1px solid #282828;
      font-size: 22px;
      margin-bottom: 20px;
      padding: 70px 0 20px 0; }
      @media (max-width: 940px) {
        .content__inner .content__subheadline {
          padding-top: 30px; } }
      .content__inner .content__subheadline a {
        font-size: 13px;
        padding-left: 6px; }

.slideshow {
  height: 675px; }
  .slideshow .slider__item {
    background-size: cover;
    background-position-x: -65px;
    margin: 0 auto;
    text-align: center; }
    .slideshow .slider__item .slider__content {
      margin: 0 auto;
      position: relative;
      text-align: left;
      width: 940px; }
      .slideshow .slider__item .slider__content--inner {
        left: 0;
        position: absolute;
        top: 140px;
        width: 350px; }
      .slideshow .slider__item .slider__content .django {
        top: 200px;
        width: 350px; }
        .slideshow .slider__item .slider__content .django .slider__content-headline {
          color: #d90e0a; }
        .slideshow .slider__item .slider__content .django .slider__content-text a {
          color: #d90e0a; }
      .slideshow .slider__item .slider__content .vizio {
        left: initial;
        right: 60px;
        width: 400px; }
        .slideshow .slider__item .slider__content .vizio .slider__content-headline {
          color: #d90e0a; }
        .slideshow .slider__item .slider__content .vizio .slider__content-text a {
          color: #d90e0a; }
      .slideshow .slider__item .slider__content .escape {
        width: 430px; }
        .slideshow .slider__item .slider__content .escape .slider__content-headline {
          color: #f68f1e; }
        .slideshow .slider__item .slider__content .escape .slider__content-text {
          color: #fff; }
          .slideshow .slider__item .slider__content .escape .slider__content-text a {
            color: #f68f1e; }
      .slideshow .slider__item .slider__content .utlra {
        width: 455px; }
        .slideshow .slider__item .slider__content .utlra .slider__content-headline {
          color: #2162bc; }
        .slideshow .slider__item .slider__content .utlra .slider__content-text {
          width: 400px; }
          .slideshow .slider__item .slider__content .utlra .slider__content-text a {
            color: #2162bc; }
      .slideshow .slider__item .slider__content-headline {
        font-family: 'TradeGothicBoldCondensed', Helvetica, sans-serif;
        font-size: 62px;
        line-height: 55px;
        text-transform: uppercase; }
      .slideshow .slider__item .slider__content-text {
        color: #9f9f9f;
        font-size: 16px;
        padding-top: 10px; }
        .slideshow .slider__item .slider__content-text a {
          text-decoration: none; }
  .slideshow .slider .slider-indicator-icon {
    background-color: #9f9f9f; }
    .slideshow .slider .slider-indicator-icon.slider-indicator-active {
      background-color: #e34e33; }
