
// container for content section
.content {
    background-color: $grey;
    color: $white;
    padding-bottom: 60px; // just adding spacing to bottom of page.
    padding-top: 60px;
    text-align: center;

    // global font styling. overwritten in various locations
    a {
        color: $chilipepper;
        text-decoration: none;

        &:hover {
            color: $babyblue;
        }
    }

    // content section
    &__inner {
        margin: 0 auto;
        text-align: left;
        width: 940px;

        @media (max-width: 939px) {
            margin: 0 20px;
            width: auto;
        }


        // large headline
        .content__headline {
            border-bottom: 5px solid $mediumgrey;
            color: $white;
            padding-bottom: 40px;
        }

        // headline font styling
        .headline-text {
            font-size: 37px;
            line-height: 33px;
        }

        // color for link with headline text
        a.headline-text {
            color: $white;
            font-size: 35px; // overwriten size to match psd
            &:hover {
                color: $babyblue;
            }
        }

        // small text used in various locations
        .small-text {
            font-size: 13px;
        }

        .work {
            &-headline {
                margin-bottom: 10px;
            }

            img {
                width: 100%;
            }
        }
        .date-padding {
            padding: 10px 0 6px 0;

            @media (max-width: 939px) {
                margin: 6px 0 8px 0;
                padding: 0;
            }
        }

        // section headlines
        .content__subheadline {
            color: $lightgrey;
            border-bottom: 1px solid $mediumgrey;
            font-size: 22px;
            margin-bottom: 20px;
            padding: 70px 0 20px 0;

            @media (max-width: 940px) {
                padding-top: 30px;
            }

            a {
                font-size: 13px;
                padding-left: 6px;
            }
        }
    }
}